body {
  margin: 20px;
}

header {
	text-align: center
}

header nav a {
	background-color: #e3e3e3;
  padding: 0px 10px;
}

#featured-property {
	place-items: center
}

#featured-property figcaption{
	font-size: 12px
}

#featured-property p{
	text-align: center;
  width: 800px;
  margin-top: 10px;
}

#details div{
	float: left;
  width: 25%;
  text-align: center;
  background-color: red
}
